name: CI/CD Pipeline

on:
  workflow_call:
  push:
    branches: [ "test-branch" ]
    paths-ignore:
      - '**/README.md'

jobs:
  test-and-build:
    name: Test and Build
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15.2-alpine3.17
        env:
          POSTGRES_DB: ${{ vars.TEST_POSTGRES_DB }}
          POSTGRES_USER: ${{ vars.TEST_POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.TEST_POSTGRES_PASSWORD }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Test and build
        uses: gradle/gradle-build-action@v2
        env:
          TEST_POSTGRES_DB: ${{ vars.TEST_POSTGRES_DB }}
          TEST_POSTGRES_USER: ${{ vars.TEST_POSTGRES_USER }}
          TEST_POSTGRES_PASSWORD: ${{ secrets.TEST_POSTGRES_PASSWORD }}
        with:
          arguments: clean build
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Test Results
          path: build/reports/tests