name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  unitTest:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Run unit tests
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: test
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: unit test results
          path: build/reports/tests/test

  integrationTest:
    name: Integration Test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test_admin
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Run integration tests
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: integrationTest
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: integration test results
          path: build/reports/tests/integrationTest

  build:
    name: Build
    needs: [ unitTest, integrationTest ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: Build
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: clean build --exclude-task check
      - name: Upload build artifact
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: build artifacts
          path: build/libs/
